.section {
    &__first, &__second, &__third {
        height: 400px;
    }

    &__first {
        background-color: red;
        background-image: url('../test.jpeg');
        position: relative;
        z-index: -1;
    }

    &__second {
        border: 2px solid red;
        position: relative;
        z-index: 1;
    }

    &__third {
        background-color: yellow;
    }
}
