@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700');

body {
    background-color: #fff;
    margin: 0;
    padding: 0; //resets margin and padding, no white borders
}

.container {
    margin: 0 auto;
}
.header__wrapper {
    text-align: center;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;

    &--blue, &--white {
        width: 100%;
        height: 700px;
    }

    &--blue {
        background-color: blue;
    }

    &--white {
        background-color: #f9f9f9;
    }

    &__title-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 250px;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 80px;
        color: #000;
    }
}

.sections__wrapper {
    padding: 50px;
    text-align: center;
}

.intro {

    display: flex;
    flex-direction: column;

    &__title-wrapper {
        margin-bottom: 40px;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 4px;
        color: #000;

        &--rectangle {
            width: 200px;
            height: 10px;
            margin: 0 auto;
            background-color: blue;
        }

        &--secondrectangle {
            width: 400px;
            height: 10px;
            margin: 0 auto;
        }
    }

    &__text {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 18px;
    }

    &__text-wrapper {
        margin-bottom: 50px;
    }
}

.product {

    display: flex;
    flex-direction: column;

    &__title-wrapper {
        margin-bottom: 40px;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 4px;
        color: #000;
    }

    &__text {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 100px;
    }

    &__project-img {
        height: 400px;
        object-fit: cover;
    }

    &__project-wrapper {
        position: relative;
    }

    &__project-content {
        z-index: 100;
        position: absolute;
        left: 0;
        right: 150px;
        bottom: 40px;
    }

    &__project-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 40px;
        color: blue;
        letter-spacing: 4px;
    }

    &__project-number {
        display: none;
    }

    &__project-button {
        width: 200px;
        height: 50px;
        background-color: black;
        border: 0;
    }

    &__project-button h1 {
        color: #fff;
    }


}

.recognition {
    display: flex;
    flex-direction: column;

    &__img {
        height: 400px;
        object-fit: cover;
    }

    &__img-wrapper {
        position: relative;
    }

    &__title-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 20px;
        color: blue;
        letter-spacing: 4px;
    }

    &__text {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 18px;
    }

    &__symbols {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__icon {
        width: 60px;
        height: 60px;
        margin-left: 20px;
        object-fit: contain;
    }
}

.intro, .product, .recognition {
    margin-bottom: 200px;
}


// Desktop

@media only screen and (min-width: 900px) {
    .container {
      padding: 50px;
      width: 1800px;
    }

    .header {
        margin-bottom: 100px;
    }
    .sections__wrapper {
        text-align: left;
        padding-top: 200px;
    }

    .intro {

        flex-direction: row;
        justify-content: space-around;


        &__title-wrapper {
            text-align: center;
        }

        &__title {
            font-size: 50px;
        }

        &__img {
            margin: 0;
        }

        &__text-wrapper {
            width: 800px;
        }

        &__text {
            font-size: 25px;
        }
    }

    .product {

        flex-direction: row;
        justify-content: space-around;


        &__title {
            font-size: 50px;
        }

        &__img {
            margin: 0;
        }

        &__intro-wrapper {
            width: 500px;
        }
        &__text {
            font-size: 25px;
        }

        &__project-title {
            letter-spacing: 4px;
            font-size: 60px;
        }

        &__project-img {
            height: 800px;
        }

        &__project-content {
            left: -180px;
            bottom: 250px;
        }

        &__project-wrapper {

        }
    }

    .recognition {
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        &__img {
            height: 800px;
            margin-left: -200px;
        }

        &__title {
            font-size: 60px;
        }

        &__title-wrapper {
            bottom: 50px;
            left: 300px;
        }

        &__content-wrapper {
            margin-top: 250px;
        }

        &__text {
            font-size: 25px;
            margin-bottom: 50px;
        }

        &__icon {
            width: 80px;
            height: 80px;
            margin-left: 20px;
            object-fit: contain;
        }

        .intro, .product, .recognition {
            margin-bottom: 400px;
        }
    }
}
