.intro-section, .second-section, .third-section {
    height: 400px;
}

.intro-section {
    background-color: red;
    background-image: url('../test.jpeg');
    position: relative;
    z-index: -1;
}

.second-section {
    border: 2px solid blue;
    position: relative;
    z-index: 1;
}

.third-section {
    background-color: green;
}
