@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700");
body {
  background-color: #fff;
  margin: 0;
  padding: 0; }

.header__wrapper {
  text-align: center;
  margin: 0 auto; }

.header {
  display: flex;
  position: relative; }
  .header--blue, .header--white {
    width: 100%;
    height: 700px; }
  .header--blue {
    background-color: blue; }
  .header--white {
    background-color: #f9f9f9; }
  .header__title-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 250px; }
  .header__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #000; }

.sections__wrapper {
  padding: 50px;
  text-align: center;
  margin: 0 auto; }

.intro {
  display: flex;
  flex-direction: column; }
  .intro__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; }
  .intro__img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover; }

@media only screen and (min-width: 900px) {
  .container {
    padding: 50px; }
  .sections__wrapper {
    padding: 0;
    text-align: left; }
  .intro {
    flex-direction: row; }
    .intro__img {
      margin: 0; } }
