.section__first, .section__second, .section__third {
  height: 400px; }

.section__first {
  background-color: purple;
  background-image: url("../images/test.jpeg");
  position: relatie;
  z-index: -1; }

.section__second {
  border: 2px solid green;
  position: relative;
  z-index: 1; }

.section__third {
  background-color: purple; }
