.intro-section, .second-section, .third-section {
    height: 400px;
}

.intro-section {
    background-color: red;
}

.second-section {
    background-color: blue;
}

.third-section {
    background-color: green;
}
